.App {
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #13294c;
}

.header-logo-container {
  padding: 5px;
}


.header-logo {
  padding: 10px;
  height: 50px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


.link:hover {
  color: rgba(0,0,0, 0.5);
}

a {
  color: black;
}
